<div class="container">
  <br>
  <h1>Modifier cette appartement</h1>
  <br>
  <%= simple_form_for @flat do |f| %>
    <%= f.input :title, label: 'Titre' %>
    <%= f.input :description, label: 'Une description' %>
    <%= f.input :address, label: 'Addresse' %>
    <%= f.input :price, label: 'Prix pour une nuit' %>
    <%= f.input :photo, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, "Editer cette appartement", class: "btn btn-primary" %>
    <%= link_to "Retour", flat_path(@flat), class: "btn btn-warning" %>
  <% end %>
</div>
